@charset "UTF-8";
/* pc */
@media screen and (min-width:1200px) {
	#timeLine{width:80%}
	#advertiseBox{display:block;float:right;width:19%;height:580px;background:#64cbf9;margin-top:100px;position:fixed;right:0;color:#fff;font-size:3em}
}